## 1. 데이터 전처리

In [3]:
import pandas as pd
# df = pd.DataFrame(wine.data, columns=wine.feature_names)
# df['target'] = wine.target
# df.head()

1. Number of times pregnant
2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
3. Diastolic blood pressure (mm Hg)
4. Triceps skin fold thickness (mm)
5. 2-Hour serum insulin (mu U/ml)
6. Body mass index (weight in kg/(height in m)^2)
7. Diabetes pedigree function 8. Age (years)
9. Class variable (0 or 1)

In [4]:
df = pd.read_csv('pima-indians-diabetes.csv',skiprows=9,names=[1,2,3,4,5,6,7,8,9])
len(df.columns)

9

In [8]:
df.columns= ['pregnant','tolerance','pressure','thickness','insulin','body mass index','Diabetes','Age','Class variable']
df

,pregnant,tolerance,pressure,thickness,insulin,body mass index,Diabetes,Age,Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [46]:
df['Class variable'].value_counts()
df1 = df.iloc[0:,0:-1]
df1

,pregnant,tolerance,pressure,thickness,insulin,body mass index,Diabetes,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [11]:
import numpy as np
target=np.array(df['Class variable'])

In [12]:
data = np.array(df1)

In [13]:
len(data),len(target)

(768, 768)

In [47]:
type(data),type(target)

(numpy.ndarray, numpy.ndarray)

In [48]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    data, target, stratify=target, test_size=0.2, random_state=2021
)

In [49]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((614, 8), (154, 8), (614,), (154,))

In [17]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=2021)
dtc.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': 2021,
 'splitter': 'best'}

In [18]:
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2021)

In [19]:
pred = dtc.predict(X_test)

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7077922077922078

In [21]:
dtc.score(X_test, y_test)

0.7077922077922078

In [22]:
from sklearn.model_selection import GridSearchCV

In [23]:
params = {
    'max_depth': [2,3,4,5,6],
    'min_samples_split': [2,3,4]
}

In [24]:
grid_dt = GridSearchCV(dtc, param_grid=params, scoring='accuracy', cv=3)
grid_dt.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=2021),
             param_grid={'max_depth': [2, 3, 4, 5, 6],
                         'min_samples_split': [2, 3, 4]},
             scoring='accuracy')

In [25]:
grid_dt.best_score_

0.7443328550932568

In [26]:
grid_dt.best_params_

{'max_depth': 3, 'min_samples_split': 2}

In [27]:
best_dt = grid_dt.best_estimator_

In [28]:
best_dt.score(X_test, y_test)

0.7142857142857143